<!DOCTYPE html>
<html>
<head>
	<title>Burgers</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>
<div id="add-burger">
<h2>Enter the kind of burger you want to eat</h2>
<form class="create-form">
	<div class="form-group">
		<textarea id="burger" name="burger-input" rows="2" cols="50" placeholder="Your Burger"></textarea>
	</div>
	<button class="btn btn-primary" type="submit">Add Burger</button>
</form>
</div>

</body>
</html>



