<h1> Eat Dat Burger </h1>

<div id="add-burger">
<h2>Enter the kind of burger you want to eat</h2>
<form class="create-form">
	<div class="form-group">
		<textarea id="burger" name="burger-input" rows="2" cols="50" placeholder="Your Burger"></textarea>
	</div>
	
	<button class="btn btn-2 btn-2a" type="submit">ADD</button>
</form>
</div>



